<div class="row mt-2">
  <h4 class="pl-3">Recipe is information</h4>
  <div class="col card-body" *ngIf="recipe">
    <img [src]="recipe.imgUrl" class="card-img-top" [alt]="recipe.name">
    <p class="card-text"> <strong>Name:</strong> {{ recipe.name }}</p>
    <textarea class="card-text"> <strong>Description:</strong> {{ recipe.description }}</textarea>
    <textarea class="card-text"> <strong>Ingredients:</strong> {{ recipe.ingredients }}</textarea>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let step of recipe.steps">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img [src]="step.img" [alt]="step.description">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">{{ step.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <hr/>
    <a class="btn btn-secondary" [routerLink]="['edit']">Edit</a>&nbsp;
  </div>
</div>

