<div class="row p-3" *ngIf="!isFetching">
  <div class="card" style="width: 18rem;" *ngFor="let recipe of recipes">
    <img [src]="recipe.imgUrl" class="card-img-top" [alt]="recipe.name">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.name }}</h5>
      <p class="card-text">{{ recipe.description }}</p>
      <a [routerLink]="['/recipes', recipe.id]" class="btn btn-primary">View more</a>
      <button type="button" class="btn btn-primary" (click)="onRemove(recipe.id)" [disabled]="isRemoving">
        <span *ngIf="!isRemoving">Delete</span>
        <span *ngIf="isRemoving"
              class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </div>
  </div>
</div>
<span *ngIf="isFetching"
      class="spinner-border">
          <span class="sr-only">Loading...</span>
        </span>
