<div class="row flex-column p-3 col-10">
  <h3>{{ isEdit ? 'Edit recipe is information' : 'Register a recipe' }}</h3>
  <form (ngSubmit)="Registrate()"
        [formGroup]="recipeForm"
  >

    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="form-control"
      />
      <small *ngIf="fieldHasError('recipe', 'required')"
             class="form-text invalid-form-text">Enter recipe</small>
    </div>
    <div class="form-group">
      <label for="imgUrl">imgUrl:</label>
      <input
        type="text"
        formControlName="imgUrl"
        id="imgUrl"
        class="form-control"
      />
      <small *ngIf="fieldHasError('imgUrl', 'required')"
             class="form-text invalid-form-text">put url of img</small>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        formControlName="description"
        id="description"
        class="form-control"
      ></textarea>
      <small *ngIf="fieldHasError('description', 'required')"
             class="form-text invalid-form-text">Enter description</small>
    </div>

    <div class="form-group">
      <label for="ingredients">Enter ingredients</label>
        <textarea
          class="form-control"
          id="ingredients"
          formControlName="ingredients"
          rows="3"
        ></textarea>
      <small *ngIf="fieldHasError('ingredients', 'required')"
             class="form-text invalid-form-text">Enter ingredients</small>
    </div>

    <div class="form-group"
         formArrayName="steps">
      <label class="mr-2">Steps</label>
      <button type="button"
              class="btn btn-success"
              (click)="AddSteps()">Add step
      </button>
      <div class="form-inline p-3"
           *ngFor="let stepControl of getControls(); let i=index">
        <div [formGroupName]="i" class="row">
          <div class="col">
            <label for="img">ImgUrl</label>
            <input type="text" formControlName="img" id="img" class="form-control">
            <small *ngIf="groupFieldHasError(i, 'img', 'required')"
                   class="form-text invalid-form-text">enter url of img</small>
          </div>
          <div class="col">
            <label for="descriptionStep"></label>
            <textarea formControlName="description" id="descriptionStep" class="form-control">
            </textarea>
            <small *ngIf="groupFieldHasError(i, 'description','required')"
                   class="form-text invalid-form-text">enter description</small>
          </div>
        </div>
      </div>
    </div>


    <button type="submit"
            class="btn btn-primary"

    >
      <span *ngIf="!isUploading">
          {{ isEdit ? 'Edit' : 'Registrate' }}
        </span>
      <span *ngIf="isUploading"
            class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
    </button>
  </form>
</div>



